.hero-banner {
  display: none;
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 145px 60px;
  text-align: center;
  background-image: url("@/assets/images/hero-bg.jpg");
}

.hero-subtitle {
  color: var(--dark-orange) !important;
  font-family: var(--ff-shadows-into-light) !important;
  font-size: var(--fs-3) !important;
  letter-spacing: 1px;
  margin-block-end: 25px;
}

.hero-title {
  color: var(--champagne-pink) !important;
  max-width: 12ch !important;
  margin-inline: auto;
  font-weight: 700 !important;
}

.hero-text {
  color: var(--desert-sand) !important;
  margin-block: 15px 30px;
  max-width: 44ch;
  margin-inline: auto;
}

.hero .btn {
  margin-inline: auto;
}

.hero .btn:is(:hover, :focus) {
  background-color: var(--white) !important;
  color: var(--black) !important;
}
